__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.venv/
build/
dist/
*.png
*.pdf
*.svg
*.jpg
*.jpeg
*.txt
*.gtf
*.gtf.gz
*.gff
*.gff.gz
*.bed
*.bam
*.bai
!docs/
!docs/images/
!docs/images/*.png
!docs/examples/
!docs/examples/*.pdf
.idea/
.vscode/
.DS_Store
